/* Ingin coba pakai CSS eksternal sisanya pakai tailwind karna sudah terlanjur */
.footer {
    background-color: #A50000;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; 
  }